@font-face {
    font-family: terri ;
    src: url(fuente/Prociono/Prociono-Regular.ttf);
}
body{
    font-family: 'Times New Roman', Times, serif;
    max-width: 100%;
    height: auto;
    padding: 0 40px 0 0;
    background-color: #1c1c1c;
    background: radial-gradient(circle, #3C3C3C, #1C1C1C); /* Gradiente radial del centro hacia afuera */
    color: #ffff;
    
}
/* header */
header{
    margin-left: 40px;
    display: flex;
    height: 80px;
    opacity: 100%;
    justify-content: space-between;
    text-align: center;

}
.name{
    font-weight: 900;
    color: #ffff;
    font-size: 18px;
    margin-left: 30px;
}
.nav{   
    display: flex;
    position: fixed;
    right: 100px;
    z-index: 10;
    padding-top: 35px;
    width: 520px;
}
.link{
    width: 104px;
    text-decoration: none;
    color: #ffff;
    font-size: 22px;
    padding: 0 15px;
    transition: transform 0.3s ease, color 0.3s ease;
}
.link:hover{
    transform: scale(1.3); /* Aumenta el tamaño en un 20% cuando se pasa el mouse */
    color: #ffcc00; /* Cambia el color al hacer hover */
    filter: drop-shadow(1px 1px 5px yellow);
}
/* home */
.home{
    height: 915px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 90px;
}
.title-btn{
    padding-top:200px ;
    text-align: center;
}
.title-home{
    color: #ffcc00;
    font-size: 100px;
    font-weight: bold;
    transition: 0.3s ease;
    
}
.title-home:hover{
    filter: brightness(1.8);
    filter: drop-shadow(5px 5px 2px yellow);
    cursor: none;
}
.imgperfil img{
    width: 900px;
    height: 900px;
    filter: drop-shadow(1px 1px 10px #ffcc00);

}

.btn-home {
    background: linear-gradient(45deg, #942700, #ffcc00); 
    width: 250px;
    height: 80px;
    border: none;
  
    border-radius: 5px;
    cursor: pointer;
    transition:  0.3s ease;
}

.btn-home:hover {
    background: linear-gradient(45deg,  #ffcc00,#942700);
    scale: 1.2;
}
.btn-home a{
    text-decoration: none;
    font-size: 23px;
    color: #ffff;
    font-weight: 500;
}


/* About Me */

.about{
    width: 100%;
    background-color: #3C3C3C;
    padding: 20px;

}
.frase{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    

}
.frase h1{
    width: 800px;
    text-align: center;
    font-size: 50px;
}
.aboutme{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;

    
}
.about-img{
    width: 600px;
    margin-left: 100px;
    margin-top: 60px;
    
    
}
.about-img img{
    width: 600px;
    border-radius: 10%;
    filter: opacity(80%);
    filter: drop-shadow(1px 1px 5px);
    
}
.about-tittle{
    width: 900px;
    margin-right: 80px;
}
.about-text{
    filter: drop-shadow(1px 1px 3px  #ffcc00);
    font-size: 60px;
}
.texto{
    font-size: 20px;
}
.point{ 
    font-size: 30px;
    font-weight: bolder;
}
.btns-about{
    margin-top: 20px;
    width: 900px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.btn-about{
    background: linear-gradient(45deg, #942700, #ffcc00); 
    width: 200px;
    border: none;
    border-radius: 5%;
    color: #ffff;
    font-size: 18px;
    transition: 0.3s ease;
}
.btn-about:hover{
    background: linear-gradient(45deg, #ffcc00, #942700); 
}
.color-num{
    font-size: 22px;
    font-weight: 800;
    color: #ffcc00;
}
.posdata{
    text-align: center;
    font-size: 30px;
}

/* skills */
.skills{
    
    padding: 20px;
    height: 400px;
    width: 100%;
}
.my{
    padding: 30px 0px;
    text-align: center;
    font-size: 60px;
    filter: drop-shadow(1px 1px 3px  #ffcc00);
}
.width-img{
    width: 160px;
    transition: 0.3s ease;
}
.img-skills{
    width: 140px;
}
.img-skills:hover{
   scale: 1.2;
}
.div-skills{
    display: flex;
    justify-content: space-around;

}
/* Proyectos */
.projects{
    width: 100%;
    height: 800px;
    background-color: #3C3C3C;
    padding: 20px;

}


/* contacto */
.footer{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-contac{
    font-size: 18px;
}

.btn-contac{
    width: 200px;
    height: 60px;
}
.btn-contac a{
    text-decoration: none;
    color: #fff;
}
.icons-footer{
    display: flex;
    flex-direction: column;
    
}
.icono{
    font-size: 28px;
    padding-top: 10px;
}



